In [4]:
import pyarrow.parquet as pq

In [10]:
 pq.read_table(source="../datasets/thai_population/").to_pandas()

,yymm,cc_code,cc_desc,rcode_code,rcode_desc,ccaatt_code,ccaatt_desc,ccaattmm_code,ccaattmm_desc,male,female,total,house,data_year
0,3612,0,ทั่วประเทศ,0,,0,,0,,29205086,29130986,58336072,13336167,1993
1,3612,10,กรุงเทพมหานคร,0,,0,,0,,2760480,2812232,5572712,1472621,1993
2,3612,11,จังหวัดสมุทรปราการ,0,,0,,0,,442043,453341,895384,267935,1993
3,3612,12,จังหวัดนนทบุรี,0,,0,,0,,352531,364874,717405,224651,1993
4,3612,13,จังหวัดปทุมธานี,0,,0,,0,,247964,252122,500086,160164,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,6612,92,จังหวัดตรัง,0,,0,,0,,311212,325805,637017,243956,2023
2396,6612,93,จังหวัดพัทลุง,0,,0,,0,,253232,267366,520598,205036,2023
2397,6612,94,จังหวัดปัตตานี,0,,0,,0,,364396,372681,737077,204902,2023
2398,6612,95,จังหวัดยะลา,0,,0,,0,,273248,276698,549946,178717,2023
2399,6612,96,จังหวัดนราธิวาส,0,,0,,0,,405170,413992,819162,229831,2023